<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10=" />
        <server name="APP_ENV" value="testing" />
        <server name="QUEUE_CONNECTION" value="sync" />
        <server name="BCRYPT_ROUNDS" value="4" />
        <server name="CACHE_DRIVER" value="array" />
        <server name="MAIL_MAILER" value="array" />
        <server name="SESSION_DRIVER" value="array" />
        <server name="TELESCOPE_ENABLED" value="false" />
        <server name="APP_NAME" value="test" />
        <server name="APP_DEBUG" value="true" />
        <server name="APP_URL" value="http://127.0.0.1:8000" />
        <server name="LOG_CHANNEL" value="null" />
        <server name="BROADCAST_DRIVER" value="log" />
        <server name="WINLOCAL_CRON_QUEUE_CONNECTION" value="sync" />
    </php>
</phpunit>